.main {
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	height: 100vh;
}

.pageTitle {
	padding-bottom: 2rem;
}

.interface {
	display: flex;
}

.controls {
	display: flex;
	flex-direction: column;
}
